{
   "singleQuote": true,
   "semi": true,
   "tabWidth": 3,
   "printWidth": 90,
   "bracketSameLine": false,
   "htmlWhitespaceSensitivity": "ignore",
   "singleAttributePerLine": true,

   "plugins": ["prettier-plugin-organize-attributes"],
   "attributeGroups": [
      "^(v-if|v-for)$",
      "^v-(?!ripple)",
      "^:class",
      "^:style",
      "^:",
      "^@",
      "^id$",
      "^ref$",
      "^class$",
      "^style$",
      "^color$",
      "^label$",
      "^label-class$",
      "^label-style$",
      "^label$",
      "^placeholder$",
      "^type$",
      "^icon$",
      "^icon-right$",
      "^right-icon$",
      "^left-icon$",
      "^clear-icon$",
      "^dropdown-icon$",
      "^name$",
      "^size$",
      "^self$",
      "^fit$",
      "^height$",
      "^width$",
      "^mask$",
      "^tabindex$",
      "^option-label$",
      "^option-value$",
      "^input-debounce$",
      "^text-color$",
      "^select-message$",
      "^error-message$",
      "^select-icon$",
      "^selection$",
      "^([a-z])+"
   ]
}