// WIDTH
.w-p-10 {
   width: 10% !important;
}

.w-p-20 {
   width: 20% !important;
}

.w-p-30 {
   width: 30% !important;
}

.w-p-40 {
   width: 40% !important;
}

.w-p-50 {
   width: 50% !important;
}

.w-p-60 {
   width: 60% !important;
}

.w-p-70 {
   width: 70% !important;
}

.w-p-80 {
   width: 80% !important;
}

.w-p-90 {
   width: 90% !important;
}

.w-p-100 {
   width: 100% !important;
}

// HEIGHT
.h-p-10 {
   height: 10% !important;
}

.h-p-20 {
   height: 20% !important;
}

.h-p-30 {
   height: 30% !important;
}

.h-p-40 {
   height: 40% !important;
}

.h-p-50 {
   height: 50% !important;
}

.h-p-60 {
   height: 60% !important;
}

.h-p-70 {
   height: 70% !important;
}

.h-p-80 {
   height: 80% !important;
}

.h-p-90 {
   height: 90% !important;
}

.h-p-100 {
   height: 100% !important;
}